<?php
if ($block->getCheckDoesParameterValueIsTroll()) { ?>
    <div style="width: auto; margin: auto; text-align: center;">
        <div><h1>Parameter "login" value is "troll"</h1></div>
    </div>
<?php } else { ?>
    <div style="width: auto; max-width: 360px; margin: auto; text-align: center;">
        <div><h1>Simple login form</h1></div>
        <div>
            <form method="post" action="#">
                <div class="box">

                    <input type="text" name="login" value="Enter login name"
                           onFocus="field_focus(this, 'Enter login name');"
                           onblur="field_blur(this, 'Enter login name');" class="email"/>
                    <a href="#">
                        <div class="btn"
                             style="padding: 20px; background-color: bisque; color: #000; font-weight: bold;">Submit
                        </div>
                    </a>

                </div>

            </form>
        </div>
    </div>
<?php } ?>